@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  @import "./typography";

  body {
    color: theme(colors.emerald.200);
    background-image: url(/grain-dark-2.png);
    background-color: theme(colors.emerald.800);
  }

  .logos {
    background-image: url(/grain-dark-2.png);
    background-color: theme(colors.emerald.900);

    li {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      background-color: theme(colors.emerald.800);
      background-image: url(/grain-dark-2.png);
      border-radius: theme(borderRadius.xl);
      padding: theme(padding.2);
      height: theme(height.36);
      width: theme(width.36);
      display: block;

      &:hover,
      &:focus {
        box-shadow: theme(boxShadow.xl);
      }
    }
  }

  a {
    color: theme(colors.emerald.500);
    text-decoration: underline;

    &:hover {
      color: theme(colors.emerald.50);
    }
  }

  span.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua",
      serif;
    font-size: 110%;
    font-style: italic;
  }
}

.tippy-box[data-theme~="pw"] {
  background-color: white;
  color: black;

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: white;
  }
  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: white;
  }
  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: white;
  }
  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: white;
  }
}

footer {
  border-color: var(--color-emerald-700);
  color: var(--color-emerald-500);
}

body.fly-with-django {
  background-color: var(--color-emerald-200);
  background-image: url(/grain-light.png);
  color: var(--color-emerald-700);

  h2 a,
  .prose a {
    color: var(--color-emerald-600);

    &:hover {
      color: var(--color-emerald-800);
      background: var(--color-emerald-100);
    }

    &.button {
      display: inline-block;
      text-decoration: none;
      color: var(--color-emerald-50);
      background: var(--color-emerald-600);
      padding: --spacing(2) --spacing(6);
      border-radius: calc(infinity * 1px); /* rounded-full */

      &:hover {
        background: var(--color-emerald-800);
      }
    }
  }

  a.ko-fi:hover {
    outline-color: var(--color-emerald-500);
  }

  footer {
    border-color: var(--color-emerald-500);
    color: var(--color-emerald-600);
  }

  .prose {
    font-size: 125%;
    --tw-prose-body: var(--color-emerald-700);
    --tw-prose-bullets: var(--color-emerald-700);
    --tw-prose-bold: var(--color-emerald-800);
    --tw-prose-hr: var(--color-emerald-500);
    --tw-prose-headings: var(--color-emerald-700);

    hr {
      height: --spacing(1.5);
      width: 33%;
      margin: 3em auto;
      border-top-width: --spacing(0.5);
      background: var(--color-emerald-300);
    }
  }
}
