@layer tailwind-base, tailwind-components, my-styles, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-components {
  @tailwind components;
}
@layer tailwind-utilities {
  @tailwind utilities;
}

@layer my-styles {
  body {
    color: theme(colors.emerald.200);
    background-image: url(/grain-dark-2.png);
    background-color: theme(colors.emerald.800);
  }

  a {
    color: theme(colors.emerald.500);
    text-decoration: underline;

    &:hover {
      color: theme(colors.emerald.50);
    }
  }
}
