@layer tailwind-base, tailwind-components, my-styles, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-components {
  @tailwind components;
}
@layer tailwind-utilities {
  @tailwind utilities;
}

@layer my-styles {
  body {
    color: theme(colors.emerald.200);
    background-image: url(/grain-dark-2.png);
    background-color: theme(colors.emerald.800);
  }

  .logos {
    background-image: url(/grain-dark-2.png);
    background-color: theme(colors.emerald.900);

    li {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      background-color: theme(colors.emerald.800);
      background-image: url(/grain-dark-2.png);
      border-radius: theme(borderRadius.xl);
      padding: theme(padding.2);
      height: theme(height.36);
      width: theme(width.36);
      display: block;

      &:hover,
      &:focus {
        box-shadow: theme(boxShadow.xl);
      }
    }
  }

  a {
    color: theme(colors.emerald.500);
    text-decoration: underline;

    &:hover {
      color: theme(colors.emerald.50);
    }
  }

  span.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua",
      serif;
    font-size: 110%;
    font-style: italic;
  }
}

.tippy-box[data-theme~="pw"] {
  background-color: white;
  color: black;

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: white;
  }
  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: white;
  }
  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: white;
  }
  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: white;
  }
}
