---
import Layout from "../layouts/Layout.astro";
import Content from './fly-with-django.md';
---

<Layout title="Fly with Django" bodyClass="fly-with-django">
  <h2 class="mb-2">
    <a href="/">Piepworks</a>; makers of fine software products
  </h2>

  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl mb-10">Fly with Django</h1>

  <div class="prose">
    <Content />
  </div>
</Layout>
