---
import Layout from "../layouts/Layout.astro";
import Content from "../content/fly-with-django.md";
---

<Layout title="Fly with Django" bodyClass="fly-with-django">
  <h2 class="mb-2">
    <a href="/">Piepworks</a>; future-proof web applications and websites for real people
  </h2>

  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl mb-10">
    Fly with Django
  </h1>

  <div class="prose">
    <Content />
  </div>
</Layout>
