---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Help & Support / Piepworks LLC / Makers of fine software products">
  <h2 class="text-emerald-600 mb-2"><a href="/">Piepworks</a>; makers of fine software products</h2>

  <h1 class="text-4xl font-bold tracking-tight text-emerald-200 sm:text-5xl lg:text-6xl mb-10">
    Need help?
  </h1>

  <p>
    If you have any questions or need assistance, please email
    <a href="mailto:help@piepworks.com">help@piepworks.com</a>.
  </p>
</Layout>
