---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Piepworks LLC / makers of fine software products">
	<div class="text-center">
		<h1 class="flex justify-center items-end gap-3 mt-1 text-4xl font-bold tracking-tight text-emerald-200 sm:text-5xl lg:text-6xl">
				<!-- Heroicon name: solid/home-modern -->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-emerald-600 mb-1">
					<path d="M19.006 3.705a.75.75 0 00-.512-1.41L6 6.838V3a.75.75 0 00-.75-.75h-1.5A.75.75 0 003 3v4.93l-1.006.365a.75.75 0 00.512 1.41l16.5-6z" />
					<path fill-rule="evenodd" d="M3.019 11.115L18 5.667V9.09l4.006 1.456a.75.75 0 11-.512 1.41l-.494-.18v8.475h.75a.75.75 0 010 1.5H2.25a.75.75 0 010-1.5H3v-9.129l.019-.006zM18 20.25v-9.565l1.5.545v9.02H18zm-9-6a.75.75 0 00-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75H9z" clip-rule="evenodd" />
				</svg>
				Piepworks <span class="self-end text-3xl text-emerald-600">LLC</span>
		</h1>
		<p class="mx-auto mt-5 max-w-xl text-xl text-emerald-200">Hand-made software for real people and small businesses. Based in Vermont, USA.</p>
	</div>

	<div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
		<Card title="Consulting">
			Are you small business in Vermont? Do you have an existing website that you need help maintaining or upgrading? Do you have an idea for something awesome on the web that you’re not able to find elsewhere?  <a href="mailto:homepage@piepworks.com">Send us an email</a> or <a href="https://calendly.com/piepworks/30min" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/piepworks/30min'});return false;">schedule call with us!</a>

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/wrench-screwdriver -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
			</svg>
		</Card>

		<Card title="Lists of Books" href="https://listsofbooks.com">
			<a href="https://listsofbooks.com">Count how many books you've read</a> from various authors and categories!

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/book-open -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
			</svg>
		</Card>

		<Card title="Cassette Nest" href="https://cassettenest.com">
			Film is not dead! Build an archive of metadata about your film photography. <a href="https://cassettenest.com">Take a look!</a>

			<svg slot="svg" viewBox="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="currentColor" class="text-white h-8 w-8">
				<g transform="matrix(3.74551,0,0,5.61434,252.045,126.409)">
						<rect x="-67.293" y="-22.515" width="320.383" height="213.738" style="fill:none;"/>
						<g transform="matrix(11.4209,0,0,-7.61928,-466.726,488.176)">
								<path d="M59,44L39,44C38.451,44 38,44.451 38,45L38,61C38,61.549 38.451,62 39,62L59,62C59.549,62 60,61.549 60,61L60,45C60,44.451 59.549,44 59,44ZM58,48L56,48L56,46L58,46L58,48ZM52,48L52,46L54,46L54,48L52,48ZM50,48L48,48L48,46L50,46L50,48ZM46,48L44,48L44,46L46,46L46,48ZM48,50L48,56L40,56L40,50L48,50ZM46,58L46,60L44,60L44,58L46,58ZM48,58L50,58L50,60L48,60L48,58ZM52,58L54,58L54,60L52,60L52,58ZM50,56L50,50L58,50L58,56L50,56ZM42,46L42,48L40,48L40,46L42,46ZM40,58L42,58L42,60L40,60L40,58ZM56,60L56,58L58,58L58,60L56,60Z" style="fill-rule:nonzero;"/>
						</g>
				</g>
			</svg>
		</Card>

		<Card title="Affiliate Links">
			You can help support our work by buying <a href="https://bookshop.org/shop/piepworks">books</a> or <a href="https://cottonbureau.com/people/piepworks">shirts</a>!

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/link -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
			</svg>
		</Card>

		<Card title="More to come!">
			We’ve got a bunch more stuff in the works. Check back soon. Follow <a rel="me" href="https://indieweb.social/@trey">Trey on Mastodon</a> in the meantime.

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
				<!-- Heroicon name: outline/bolt -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
			</svg>
		</Card>
	</div>
</Layout>
