---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Piepworks LLC / makers of fine software products">
	<div class="text-center">
		<h1 class="flex justify-center items-end gap-3 mt-1 text-4xl font-bold tracking-tight text-emerald-200 sm:text-5xl lg:text-6xl">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-emerald-600 mb-2" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.9989 8.96165V11.11H16.7131V8.53198H14.9646C14.9862 8.67422 14.9977 8.81781 14.9989 8.96165Z"/>
					<path d="M5.57028 14.977C5.57162 15.4342 5.71966 15.8787 5.99243 16.245L7.73154 15.6645C6.916 15.4479 6.17092 15.0215 5.57028 14.4275V14.977Z"/>
					<path d="M18.9113 20.6181C18.9817 20.3867 19.1154 20.1799 19.2972 20.021C19.4791 19.862 19.7018 19.7575 19.9399 19.7192C20.1678 19.3139 20.55 19.0185 20.9989 18.9007V7.06364L11.9989 2.14709L2.9989 7.09802V18.9007C3.448 19.0184 3.83033 19.3138 4.05838 19.7192C4.2965 19.7575 4.51918 19.862 4.70105 20.021C4.88284 20.1799 5.01659 20.3867 5.08695 20.6181C5.35079 20.6984 5.58185 20.8617 5.74615 21.0839C5.91034 21.306 5.99899 21.5752 5.99892 21.8517C5.9975 21.9984 5.9708 22.1437 5.92009 22.2813H10.7132V17.9846H7.71323C6.91787 17.9837 6.15529 17.6666 5.59286 17.1028C5.03044 16.5389 4.71412 15.7744 4.71323 14.977V13.2583C4.71323 13.2501 4.71751 13.2437 4.71796 13.2356C4.72073 13.2063 4.72662 13.1775 4.73555 13.1496C4.741 13.1241 4.74867 13.0993 4.75867 13.0752C4.77109 13.0526 4.78537 13.031 4.80153 13.0108C4.81814 12.9862 4.83725 12.9633 4.8585 12.9425C4.86448 12.9369 4.86751 12.9296 4.8735 12.9244C4.88939 12.9149 4.90582 12.9064 4.92278 12.8991C4.94724 12.8829 4.9734 12.8693 5.00082 12.8587C5.02868 12.8498 5.05743 12.844 5.08653 12.8415C5.10457 12.8359 5.12305 12.8316 5.1418 12.8286H10.2847C10.8667 12.8302 11.4357 13.0012 11.9227 13.3208C12.4096 13.6405 12.7934 14.0951 13.0275 14.6294C13.2522 14.5755 13.4823 14.5479 13.7132 14.5473H18.8561C18.8741 14.5498 18.8921 14.5534 18.9097 14.558C18.9388 14.561 18.9675 14.5669 18.9954 14.5757C19.0226 14.5862 19.0486 14.5996 19.073 14.6156C19.09 14.6232 19.1066 14.6318 19.1227 14.6414C19.1287 14.6466 19.1317 14.6538 19.1377 14.6595C19.1589 14.6802 19.178 14.7031 19.1947 14.7278C19.2108 14.748 19.2251 14.7696 19.2375 14.7922C19.2475 14.8162 19.2552 14.8411 19.2606 14.8665C19.2696 14.8944 19.2755 14.9233 19.2782 14.9524C19.2782 14.9606 19.283 14.967 19.283 14.9752V16.6939C19.2821 17.4913 18.9656 18.2558 18.4032 18.8196C17.8408 19.3835 17.0783 19.7007 16.283 19.7016H13.763C13.6358 19.7017 13.5139 19.7525 13.4243 19.8428C13.3346 19.933 13.2843 20.0554 13.2847 20.1828V22.2813H18.0778C18.0271 22.1437 18.0004 21.9984 17.999 21.8517C17.999 21.5752 18.0876 21.3059 18.2519 21.0838C18.4162 20.8616 18.6475 20.6984 18.9114 20.6181L18.9113 20.6181ZM17.5703 11.5396C17.5703 11.6535 17.5252 11.7628 17.4448 11.8434C17.3644 11.9239 17.2554 11.9692 17.1418 11.9692H6.85604C6.74238 11.9692 6.63336 11.9239 6.553 11.8434C6.47264 11.7628 6.42746 11.6535 6.42746 11.5396V8.10223C6.42746 7.98827 6.47264 7.87898 6.553 7.79841C6.63336 7.71785 6.74238 7.67255 6.85604 7.67255H9.29238C9.6173 6.98348 10.1915 6.44423 10.8985 6.16406C11.6054 5.8839 12.3922 5.88387 13.0992 6.16406C13.8061 6.44425 14.3803 6.98348 14.7053 7.67255H17.1416C17.2553 7.67255 17.3643 7.71785 17.4446 7.79841C17.525 7.87897 17.5702 7.98827 17.5702 8.10223L17.5703 11.5396Z"/>
					<path d="M7.93601 13.688H6.05502C6.42636 14.0902 6.87591 14.4119 7.3761 14.6333C7.87619 14.8545 8.41619 14.9708 8.96289 14.9748L7.93601 13.688Z"/>
					<path d="M10.7474 17.1253C10.7846 16.8618 10.8566 16.6044 10.9617 16.36C10.5741 16.1402 10.1526 15.987 9.71458 15.9067L6.76395 16.895C7.05814 17.0449 7.38324 17.1238 7.71323 17.1253H10.7474Z"/>
					<path d="M11.9989 6.81323C11.4307 6.81395 10.8861 7.04051 10.4844 7.44323C10.0827 7.84595 9.85671 8.39198 9.856 8.96157V11.1099H14.1417V8.96157C14.141 8.392 13.915 7.84595 13.5133 7.44323C13.1116 7.04051 12.567 6.81394 11.9989 6.81323Z"/>
					<path d="M11.7927 1.2803C11.921 1.21047 12.0758 1.21047 12.2041 1.2803L23.445 7.42123L23.8633 6.56189L11.9989 0L0.148361 6.55548L0.61595 7.42861L11.7927 1.2803Z"/>
					<path d="M7.28458 11.11H8.99886V8.96165C9.00002 8.8178 9.01154 8.67422 9.03315 8.53198H7.28458V11.11Z"/>
					<path d="M11.5703 18.1045C12.1922 17.4886 12.9689 17.0529 13.8177 16.8434L14.9641 15.4066H13.7131C13.145 15.4073 12.6004 15.6339 12.1987 16.0366C11.797 16.4393 11.571 16.9854 11.5703 17.555V18.1045Z"/>
					<path d="M1.36343 21.422H1.28459C1.13147 21.422 0.990032 21.5039 0.913438 21.6368C0.836919 21.7697 0.836919 21.9335 0.913438 22.0665C0.990046 22.1994 1.13147 22.2813 1.28459 22.2813H4.71316C4.86629 22.2813 5.00772 22.1994 5.08432 22.0665C5.16084 21.9335 5.16084 21.7697 5.08432 21.6368C5.00771 21.5039 4.86628 21.422 4.71316 21.422C4.5995 21.422 4.49048 21.3767 4.41012 21.2961C4.32977 21.2156 4.28459 21.1063 4.28459 20.9923C4.28459 20.8783 4.23941 20.7691 4.15905 20.6885C4.07869 20.6079 3.96968 20.5626 3.85601 20.5626C3.75664 20.5718 3.65691 20.5497 3.57066 20.4993C3.4845 20.4491 3.41593 20.3731 3.37477 20.2821C3.27379 19.9941 3.02727 19.7822 2.72807 19.7259C2.42887 19.6696 2.12245 19.7776 1.92432 20.0093C1.72611 20.2408 1.6662 20.5609 1.76718 20.8488C1.81361 20.9803 1.79352 21.1262 1.71325 21.2402C1.63307 21.3541 1.50264 21.4219 1.36343 21.422Z"/>
					<path d="M18.4274 16.6956V16.1461C17.8268 16.7401 17.0817 17.1666 16.2662 17.3831L18.0053 17.9644C18.2782 17.5979 18.4263 17.1531 18.4274 16.6956Z"/>
					<path d="M12.2334 14.9422C12.0619 14.5684 11.7874 14.2516 11.442 14.0293C11.0967 13.8071 10.695 13.6885 10.2846 13.688H9.03365L10.1792 15.1235C10.6133 15.2315 11.0303 15.3991 11.4187 15.6215C11.648 15.3486 11.9238 15.1186 12.2334 14.9422L12.2334 14.9422Z"/>
					<path d="M19.2846 22.2813H22.7132C22.8663 22.2813 23.0077 22.1994 23.0843 22.0665C23.1608 21.9336 23.1608 21.7698 23.0843 21.6368C23.0077 21.5039 22.8663 21.422 22.7132 21.422H22.6343C22.495 21.422 22.3645 21.3541 22.2842 21.24C22.204 21.126 22.184 20.9799 22.2306 20.8484C22.2649 20.757 22.2832 20.6603 22.2846 20.5626C22.2858 20.2897 22.1572 20.0326 21.9383 19.8704C21.7192 19.7082 21.4363 19.6604 21.1765 19.7418C20.9167 19.8231 20.711 20.0238 20.623 20.2821C20.5906 20.3712 20.5302 20.4473 20.4509 20.4991C20.3716 20.5508 20.2777 20.5754 20.1833 20.5691L20.1327 20.5626C20.0207 20.565 19.914 20.6113 19.8355 20.6916C19.7571 20.7719 19.7132 20.8799 19.7132 20.9923C19.7132 21.1063 19.668 21.2156 19.5876 21.2961C19.5073 21.3767 19.3983 21.422 19.2846 21.422C19.1315 21.422 18.99 21.5039 18.9134 21.6368C18.8369 21.7697 18.8369 21.9335 18.9134 22.0665C18.99 22.1994 19.1315 22.2813 19.2846 22.2813Z"/>
					<path d="M15.0347 16.6956C15.5816 16.6913 16.1217 16.5747 16.6218 16.3531C17.122 16.1313 17.5715 15.8093 17.9426 15.4066H16.0616L15.0347 16.6956Z"/>
					<path d="M22.7143 23.1406H0V24H24V23.1406H22.7143Z"/>
					<path d="M12.4274 20.183C12.4278 19.828 12.5686 19.4876 12.819 19.2367C13.0693 18.9857 13.4088 18.8445 13.7629 18.8441H16.2845C16.6148 18.842 16.94 18.7624 17.2342 18.6116L14.2818 17.6234C13.3233 17.7932 12.4594 18.3074 11.8518 19.0697L11.5702 19.4246V22.2815H12.4274L12.4274 20.183Z"/>
				</svg>
				Piepworks <span class="self-end text-3xl text-emerald-600">LLC</span>
		</h1>
		<p class="mx-auto mt-5 max-w-xl text-xl text-emerald-200">Hand-made software for real people and small businesses. Based in Vermont, USA.</p>
	</div>

	<div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
		<Card title="Consulting">
			Are you small business in Vermont? Do you have an existing website that you need help maintaining or upgrading? Do you have an idea for something awesome on the web that you’re not able to find elsewhere?  <a href="mailto:homepage@piepworks.com">Send us an email</a> or <a href="https://calendly.com/piepworks/30min" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/piepworks/30min'});return false;">schedule call with us!</a>

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/wrench-screwdriver -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
			</svg>
		</Card>

		<Card title="Blaze.horse" href="https://blaze.horse">
			Get your next Django project out the starting gate in a hurry! Big tech thinks everyone needs to build aircraft carriers, but all you need is a horse. Try it out at <a href="https://blaze.horse">Blaze.horse</a>

			<svg slot="svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-white w-6 h-6">
				<mask id="mask0_32_23" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
					<rect width="24" height="24" fill="currentColor"/>
				</mask>
				<g mask="url(#mask0_32_23)">
					<path d="M20.0581 28.8826L22.1436 28.9244C22.0372 30.5373 21.6883 32.1104 21.1179 33.6018C20.437 32.5806 20.0699 31.378 20.0699 30.1196V29.1844C20.0699 29.0835 20.0603 28.9835 20.0581 28.8826ZM21.2361 22.4183H18.5251C18.1664 21.6752 17.7483 20.9569 17.2696 20.2708H20.2617C20.6339 20.9634 20.9678 21.6763 21.2361 22.4183ZM21.8319 24.5658C21.9851 25.2906 22.0809 26.0293 22.133 26.7755L19.8773 26.7303C19.7613 25.995 19.5911 25.2723 19.3719 24.5658L21.8319 24.5658ZM18.8664 18.1233H16.0202C15.4638 16.939 15.0828 15.6828 14.8946 14.3835L15.6831 14.9622C16.9056 15.8599 17.96 16.9379 18.8664 18.1233ZM10.4939 9.15762C10.4939 10.4063 11.092 11.5919 12.0931 12.3275L12.6326 12.7236C12.69 15.8644 13.6658 18.8695 15.48 21.4316C17.0909 23.7068 17.9421 26.3881 17.9421 29.1844V30.1197C17.9421 32.2327 18.7177 34.2214 20.1191 35.7708C19.3295 37.172 18.3315 38.4594 17.143 39.573L9.17224 47.0435C7.9839 48.1568 7.30179 49.733 7.30179 51.3696V51.9472C7.30179 55.2029 9.92681 57.8525 13.1536 57.8525C16.3803 57.8525 19.0053 55.2026 19.0053 51.9472C19.0053 50.6403 18.4809 49.3617 17.5647 48.4382L16.9156 47.7832C17.0783 46.9231 17.7509 46.2446 18.6021 46.0802L18.8107 46.2907C20.3087 47.8014 21.1334 49.8104 21.1334 51.9471C21.1334 56.3882 17.5541 60 13.1536 60C8.75304 60 5.17376 56.388 5.17376 51.9471V51.1794C5.17376 48.8999 6.1367 46.7191 7.81563 45.1945L13.4123 40.1114C14.9383 38.7251 15.8139 36.7418 15.8139 34.6695C15.8139 32.9139 15.2021 31.2561 14.086 29.9353H15.8139V27.7878H11.5578C9.34048 27.7878 7.3827 28.9345 6.23777 30.6731C5.49609 29.5488 4.41408 28.6737 3.14153 28.195C4.31727 27.2371 5.76853 26.7141 7.30178 26.7141V24.5666C5.18551 24.5666 3.18937 25.3236 1.60152 26.7003C1.1174 25.3366 0.193905 24.1888 -1 23.4253C0.470548 22.767 -6.12797 36.5 -4.5 36.5L4.10948 22.4191L-6.5 41.5H-10.5C-11.8289 41.5 1.05266 20.4671 -0.201964 20.8407C-0.176251 20.6528 -0.146547 20.466 -0.146547 20.2716C-0.146547 19.49 -10.636 40.7437 -11 40.1114L-13.5 33.6018C-10.5751 33.6018 8.66623 18.1037 10.4939 20.4089L11.119 19L11.5578 21.4316L9.19842 20.4089C7.79279 18.6372 5.95208 17.3422 3.89125 16.6239C3.60928 15.6479 3.06132 14.7728 2.29636 14.1017C2.77717 13.3953 3.04537 12.5524 3.04537 11.6815C3.04537 10.9664 2.86338 10.2642 2.52623 9.6414C3.50602 8.84035 4.10936 7.6216 4.10936 6.31277C4.10936 6.26758 4.10825 6.22262 4.10714 6.17743C5.60317 5.78864 6.78204 4.59789 7.1673 3.08926C8.86018 3.11923 10.4083 2.14212 11.119 0.662577C12.5 1.19721 14.145 0.921394 15.2815 0C16.0263 0.60468 16.9595 0.943986 17.9416 0.943986C18.3406 0.943986 18.7183 0.871062 19.0843 0.766814C19.1459 1.54954 19.2556 2.32378 19.3906 3.0915H17.9416V5.23901H19.8705C20.6195 8.01891 21.839 10.6603 23.5329 13.0531L24 13.7123L23.2616 14.4586L16.9394 8.07961C16.2139 7.34631 15.8138 6.37238 15.8138 5.33504C15.8138 4.73598 15.9543 4.13668 16.2192 3.60095L16.7649 2.49925L14.8615 1.53826L14.3157 2.63995C13.9072 3.46448 13.691 4.38705 13.6868 5.31048C11.8747 5.6411 10.4937 7.23676 10.4937 9.15875L10.4939 9.15762Z" fill="currentColor"/>
				</g>
			</svg>
		</Card>

		<Card title="Lists of Books" href="https://listsofbooks.com">
			<a href="https://listsofbooks.com">Count how many books you've read</a> from various authors and categories!

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/book-open -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
			</svg>
		</Card>

		<Card title="Cassette Nest" href="https://cassettenest.com">
			Film is not dead! Build an archive of metadata about your film photography. <a href="https://cassettenest.com">Take a look!</a>

			<svg slot="svg" viewBox="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="currentColor" class="text-white h-8 w-8">
				<g transform="matrix(3.74551,0,0,5.61434,252.045,126.409)">
						<rect x="-67.293" y="-22.515" width="320.383" height="213.738" style="fill:none;"/>
						<g transform="matrix(11.4209,0,0,-7.61928,-466.726,488.176)">
								<path d="M59,44L39,44C38.451,44 38,44.451 38,45L38,61C38,61.549 38.451,62 39,62L59,62C59.549,62 60,61.549 60,61L60,45C60,44.451 59.549,44 59,44ZM58,48L56,48L56,46L58,46L58,48ZM52,48L52,46L54,46L54,48L52,48ZM50,48L48,48L48,46L50,46L50,48ZM46,48L44,48L44,46L46,46L46,48ZM48,50L48,56L40,56L40,50L48,50ZM46,58L46,60L44,60L44,58L46,58ZM48,58L50,58L50,60L48,60L48,58ZM52,58L54,58L54,60L52,60L52,58ZM50,56L50,50L58,50L58,56L50,56ZM42,46L42,48L40,48L40,46L42,46ZM40,58L42,58L42,60L40,60L40,58ZM56,60L56,58L58,58L58,60L56,60Z" style="fill-rule:nonzero;"/>
						</g>
				</g>
			</svg>
		</Card>

		<Card title="Affiliate Links">
			You can help support our work by buying <a href="https://bookshop.org/shop/piepworks">books</a> or <a href="https://cottonbureau.com/people/piepworks">shirts</a>!

			<svg slot="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6">
				<!-- Heroicon name: outline/link -->
				<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
			</svg>
		</Card>

		<Card title="More to come" href="https://vermont.masto.host/@piepworks">
			We’ve got a bunch more stuff in the works. Check back soon. <a rel="me" href="https://vermont.masto.host/@piepworks">Follow us on Mastodon</a> in the meantime.

			<svg slot="svg" width="32" height="33" viewBox="0 0 74 79" xmlns="http://www.w3.org/2000/svg" fill="currentcolor" class="w-6 h-6 text-white">
				<path d="M73.7014 17.9592C72.5616 9.62034 65.1774 3.04876 56.424 1.77536C54.9472 1.56019 49.3517 0.7771 36.3901 0.7771H36.2933C23.3281 0.7771 20.5465 1.56019 19.0697 1.77536C10.56 3.01348 2.78877 8.91838 0.903306 17.356C-0.00357857 21.5113 -0.100361 26.1181 0.068112 30.3439C0.308275 36.404 0.354874 42.4535 0.91406 48.489C1.30064 52.498 1.97502 56.4751 2.93215 60.3905C4.72441 67.6217 11.9795 73.6395 19.0876 76.0945C26.6979 78.6548 34.8821 79.0799 42.724 77.3221C43.5866 77.1245 44.4398 76.8953 45.2833 76.6342C47.1867 76.0381 49.4199 75.3714 51.0616 74.2003C51.0841 74.1839 51.1026 74.1627 51.1156 74.1382C51.1286 74.1138 51.1359 74.0868 51.1368 74.0592V68.2108C51.1364 68.185 51.1302 68.1596 51.1185 68.1365C51.1069 68.1134 51.0902 68.0932 51.0695 68.0773C51.0489 68.0614 51.0249 68.0503 50.9994 68.0447C50.9738 68.0391 50.9473 68.0392 50.9218 68.045C45.8976 69.226 40.7491 69.818 35.5836 69.8087C26.694 69.8087 24.3031 65.6569 23.6184 63.9285C23.0681 62.4347 22.7186 60.8764 22.5789 59.2934C22.5775 59.2669 22.5825 59.2403 22.5934 59.216C22.6043 59.1916 22.621 59.1702 22.6419 59.1533C22.6629 59.1365 22.6876 59.1248 22.714 59.1191C22.7404 59.1134 22.7678 59.1139 22.794 59.1206C27.7345 60.2936 32.799 60.8856 37.8813 60.8843C39.1036 60.8843 40.3223 60.8843 41.5447 60.8526C46.6562 60.7115 52.0437 60.454 57.0728 59.4874C57.1983 59.4628 57.3237 59.4416 57.4313 59.4098C65.3638 57.9107 72.9128 53.2051 73.6799 41.2895C73.7086 40.8204 73.7803 36.3758 73.7803 35.889C73.7839 34.2347 74.3216 24.1533 73.7014 17.9592ZM61.4925 47.6918H53.1514V27.5855C53.1514 23.3526 51.3591 21.1938 47.7136 21.1938C43.7061 21.1938 41.6988 23.7476 41.6988 28.7919V39.7974H33.4078V28.7919C33.4078 23.7476 31.3969 21.1938 27.3894 21.1938C23.7654 21.1938 21.9552 23.3526 21.9516 27.5855V47.6918H13.6176V26.9752C13.6176 22.7423 14.7157 19.3795 16.9118 16.8868C19.1772 14.4 22.1488 13.1231 25.8373 13.1231C30.1064 13.1231 33.3325 14.7386 35.4832 17.9662L37.5587 21.3949L39.6377 17.9662C41.7884 14.7386 45.0145 13.1231 49.2765 13.1231C52.9614 13.1231 55.9329 14.4 58.2055 16.8868C60.4017 19.3772 61.4997 22.74 61.4997 26.9752L61.4925 47.6918Z" fill="inherit"></path>
			</svg>
		</Card>
	</div>
</Layout>
