---
export interface Props {
	title: string;
	href?: string;
}

const { href, title } = Astro.props;
---

<div>
	<div>
		<span class="flex h-12 w-12 items-center justify-center rounded-md bg-white bg-opacity-10">
			<a href={href}>
				<slot name="svg" />
			</a>
		</span>
	</div>
	<div class="mt-6">
		<h3 class="text-lg font-medium text-white">{title}</h3>
		<p class="mt-2 text-base text-emerald-200"><slot /></p>
	</div>
</div>
